@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
h4 {
    margin: 0;
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

html {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

.header {
    background-color: #1F2937;
}

.header1 {
    padding-top: 12px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-between;
}

.header2 {
    display: flex;
    align-items: flex-end;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-between;
    padding-bottom: 100px;
}

.header2-left {
    margin-top: 100px;
}

.header2-left h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0px;
}

.header2-left p {
    font-size: 18px;
    color: #E5E7Eb;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7Eb;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    display: flex;
    gap: 16px;
}

#top-button {
    background-color: #3382F6;
    color: #F9FAF8;
    padding: 8px;
    border: 0px;
    width: 100px;
    border-radius: 5px;
}

.section-2 h2 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #1F2937;
}

.section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
}

.image-row {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}

.section-2-text {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.square {
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 20px;
}

.object1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.section-3 {
    background-color: #E5E7Eb;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding-left: 380px;
    padding-right: 380px;
    justify-content: center;
}

.section-3 p {
    font-size: 36px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    margin-bottom: 0px;
}

.section-3 #quote {
    font-size: 36px;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #1F2937;
    font-weight: 800;
    margin-left: 650px;
    margin-top: 0px;
}

.section-4 {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4-square {
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
}

.section-4-square p {
    color: #E5E7Eb;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#top-button1 {
    background-color: #3382F6;
    color: #F9FAF8;
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border-style: solid;
    border-color: #F9FAF8;
}

.section-5 {
    background-color: #1F2937;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #E5E7Eb;
}
